* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, 'sans-serif';
    color: #3b3b3b;
}

body {
    background: #121214;
}

input {
    padding: 13px;
    font-size: 23px;
    border-width: 3px;
    border-color: #3b3b3b;
    background-color: #ecedd8;
    color: #352929;
    border-style: solid;
    border-radius: 8px;
    box-shadow: -4px 8px 11px rgba(50, 50, 50, .75);
    text-shadow: 0px 1px 5px rgba(66, 66, 66, .75);
}

input:focus {
    outline: none;
}

form {
    text-align: center;
    margin-top: 70px;
}

input {
    margin: 10px;
}

.container {
    width: 400px;
    height: 500px;
    background: #FEECE9;
    margin: 250px auto;
    border-radius: 0.5rem;
}

.container h2 {
    padding: 50px;
    text-align: center;
}

.container a {
    text-decoration: none;
}